---
layout: default
---

<ul id="worktabs" class="nav nav-pills">
  <li role="presentation" class="active">
    <a href="#manticore" aria-controls="manticore" data-toggle="pill">Manticore</a>
  </li>
  <li role="presentation">
    <a href="#csil" aria-controls="csil" data-toggle="pill">CSIL</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="manticore">
    {% include past_work/manticore.html %}
  </div>
  <div class="tab-pane fade" id="csil">
    {% include past_work/csil.html %}
  </div>

  <hr>
</div>
