---
layout: default
---

<ul id="worktabs" class="nav nav-tabs mb-2" role="tablist">
  <li class="nav-item">
    <a id="manticore-tab"
       class="nav-link active"
       href="#manticore"
       aria-controls="manticore"
       aria-selected="true"
       data-toggle="tab"
       role="tab">Manticore</a>
  </li>
  <li class="nav-item">
    <a id="csil-tab"
       class="nav-link"
       href="#csil"
       aria-controls="csil"
       aria-selected="false"
       data-toggle="tab"
       role="tab">CSIL</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active"
       id="manticore"
       role="tabpanel"
       aria-labelledby="manticore-tab">
    {% include past_work/manticore.html %}
  </div>
  <div class="tab-pane fade"
       id="csil"
       role="tabpanel"
       aria-labelledby="csil-tab">
    {% include past_work/csil.html %}
  </div>
</div>
