<a href="http://manticore.cs.uchicago.edu/">The Manticore Project</a> is a parallel programming language project at the University of Chicago.
All of the source code is freely available via SVN, and the project's page provides detailed explanation.
If you're interested in learning more, see <a href="http://manticore.cs.uchicago.edu/papers/icfp08-implicit.pdf">This Paper (ICFP 2018)</a>, which describes Parallel ML, Manticore's source language, and its possible applications.
</p>

<p>I worked on this project as an undergraduate research assistant, working on data flattening and some scheduling code.</p>

<p>Although unmaintained, <a href="https://github.com/sirosen/Proto_FT">Proto_FT</a> is a repo with an attempt to describe flattening on arbitrarily nested arrays and tuples.</p>
