<p>The goal of this project is to maintain resume content as strctured data (JSON), and template it into LaTeX and HTML as rendering targets.</p>

<p>This allows the content to be scraped from GitHub, and included on my <a href="/resume">resume page</a> while also keeping a PDF version available.</p>

<p>The current project is written using Ruby's ERB templating, but I may rewrite it into jinja or another system in the future.</p>

<p>Please feel free to use
<a href="https://github.com/sirosen/OpenResume">the source</a>
either as a jumping-off point for your own resume templating needs, or use the
generated LaTeX source as a template for your own Resume or CV.</p>
