<p><a href="http://salve.sirosen.net/">SALVE</a>
was a language designed for configuration deployment from a git repository.
Originally inspired by
<a href="http://rsug.itd.umich.edu/software/radmind/">University of Michigan's Radmind</a>,
the idea was to have a purpose-built tool for keeping dotfiles and personal
config in a github repo, then deploying that config to a new machine.</p>

<p>Ultimately, having a dedicated language for this purpose was more trouble
than it was worth. One of the great advantages of shell scripts is their
immense flexibility, and giving this up doesn't really seem worth it in the
end. After reaching this conclusion, I have stopped working on SALVE.</p>
