<p><a href="http://salve.sirosen.net/">SALVE</a>
is a language designed for configuration deployment from a git repository.
Originally inspired by
<a href="http://rsug.itd.umich.edu/software/radmind/">University of Michigan's Radmind</a>,
it originated as an answer to the common practice of keeping dotfiles and other personal configuration on github.
Although many of these repositories contain the components for a complex and highly personalized setup, the only way to automate deployment onto a new machine or virtual machine is through manual scripting.
Scripts are inherently dangerous and error-prone, containing numerous assumptions about permissions, directory structure, and so forth.
SALVE is intended to insulate the owners of such repos from concerns about correctness, safety, and idempotence.</p>
