<h2>tinyprompt</h2>

<p><a href="https://pypi.org/project/tinyprompt/">tinyprompt</a> is a
very small python library for writing skippable prompt steps. It's useful for
writing small, lightweight operational scripts. See the readme for more
detail.</p>

<h2>git-fortune</h2>

<p><a href="https://pypi.org/project/git-fortune/">git-fortune</a> is a
python package which provides a <code>fortune</code>-like command for getting
random git usage tips. Install with <code>pip install --user git-fortune</code>
and run like so:

<pre class="prettyprint"><code class="language-sh">$ git-fortune
+------------------------------------------------------------------------------+
| GIT TIP #15                                                                  |
|                                                                              |
| Set up `git tree` by running                                                 |
| `git config --global alias.tree 'log --graph --decorate --all'`              |
|                                                                              |
| This puts `tree` into your ~/.gitconfig so that you can invoke `git tree` in |
| any repo.                                                                    |
|                                                                              |
+------------------------------------------------------------------------------+</code></pre>

Read the docs and help text for more details.</p>

<h2>callable-pip</h2>

<p><a href="https://pypi.org/project/callable-pip/">callable-pip</a> is a
python package which lets you patch modern versions of <code>pip</code> to get
back the <code>pip.main()</code> method. Read the docs for more details.</p>
