<hr>

<!-- End Center Column-->
</div>

<!-- the sidebar is a second column in the main row -->
<div id="sidebar" class="col-md-3">
  {% if page.layout == 'post' %}
  <div class="post-listing">
    <div class="sidebar-buttons d-flex flex-row justify-content-around">
      {% if page.previous %}
      <a class="btn btn-default" href="{{ page.previous.url }}" role="button">&lt; Prev</a>
      {% endif %}
      {% if page.next %}
      <a class="btn btn-default" href="{{ page.next.url }}" role="button">Next &gt;</a>
      {% endif %}
    </div>

    <hr>

    <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{post.title}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  <hr class="sidebarsep"/>
  {% endif %}

  <p>You can find me at other locations on the web:</p>
  <ul>
    <li><a rel="me" href="https://github.com/sirosen">GitHub</a></li>
    <li><a rel="me" href="https://mastodon.social/@sirosen">Mastodon</a></li>
    <li><a rel="me" href="https://bsky.app/profile/sirosen.net">BlueSky</a></li>
    <li><a rel="me" href="https://www.linkedin.com/in/sirosen0/">LinkedIn</a></li>
  </ul>
</div>

<!-- End Center|Sidebar Row-->
</div>

<!-- End main-content container -->
</div>

</body>
