<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

  <!--Google Analytics Tracking Here-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46092333-1', 'sirosen.github.io');
      ga('send', 'pageview');

    </script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>Stephen Rosen</title>
</head>

<body>
  <header>
    <div class="inner">
      <a href="{{site.baseurl}}"><h1>Stephen Rosen</h1></a>
      <a href="https://github.com/sirosen" class="button"><small>Find me on</small>GitHub</a>

    </div>

    <div class="inner">
      <a href="{{site.baseurl}}past_work.html" class="linkbutton">Past Work</a>
      <a href="{{site.baseurl}}SALVE" class="linkbutton">SALVE</a>
    </div>

  </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
