/*
 * Navbar
 */
header {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
}

.navbar {
    background: #928374;
    border-color: #BDAE93;
    background: linear-gradient(270deg, #928374 0%, #BDAE93 40%);
    background: -moz-linear-gradient(270deg, #928374 0%, #BDAE93 40%);
    background: -webkit-linear-gradient(270deg, #928374 0%, #BDAE93 40%);
}
.navbar .navbar-brand {
    color: #282828;
}
.navbar .navbar-nav li a {
    color: #1d2021;
}
.navbar .navbar-nav li a:hover {
    color: #504945;
}
.navbar .navbar-brand:hover {
    color: #504945;
}

/*
 * Primary content
 */
body {
    font-size: 15px;
    line-height: 1.5;
    background: #282828;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #A89984;
}
hr {
  border-color: #d79921;
}
a {
  color: #83A598;
}
code {
  color: #D79921;
  background-color: #32302F;
}



/*
 * Header styles for body
 */
#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
    color: #689D6A;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    color: #98971A;
    padding-right: 0.3em;
}

#main-content h1:before {
    content: "/";
}
#main-content h2:before {
    content: "//";
}
#main-content h3:before {
    content: "///";
}
#main-content h4:before {
    content: "////";
}
#main-content h5:before {
    content: "/////";
}
#main-content h6:before {
    content: "//////";
}

#main-content .opening-notes h1:before,
#main-content .opening-notes h2:before,
#main-content .opening-notes h3:before,
#main-content .opening-notes h4:before,
#main-content .opening-notes h5:before,
#main-content .opening-notes h6:before {
    content: unset;
}

/* Footnote */
#footernote {
    border-top: 4px solid #CC241D;
    float: right;
    margin-top: 50px;
}

/* Resume Page */
#main-content .resume-container {
    font-size: 16px;
    background: #1D2021;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#main-content .resume-container .github-link {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#main-content .resume-container h1:before {
    content: unset;
}

#main-content .resume-container .section-title {
    background: #32302F;
    border-radius: 16px 2px;
    padding: 6px 6px 6px 6px;
}

#main-content .resume-container .subsection-header {
    background: #504945;
    color: #83A598;
    border-radius: 16px 2px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 5px;
}

/* override bootstrap styles */
.nav-pills>li.active>a {
    background-color: #83A598;
    color: #282828;
}
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #458588;
    color: #504945;
}
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #D79921;
    color: #504945;
}
pre {
  background: none;
  padding: 0 0 0 0;
  border-color: #B16286;
}
