/*
 * Navbar
 */
header {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
}

/* Change Colors */
.navbar {
    background: #282828;
    border-color: #665C54;
    background: linear-gradient(270deg, #504945 0%, #1d2021 40%);
    background: -moz-linear-gradient(270deg, #504945 0%, #1d2021 40%);
    background: -webkit-linear-gradient(270deg, #504945 0%, #1d2021 40%);
}
.navbar .navbar-brand {
    color: #EBDBB2;
}
.navbar .navbar-nav li a {
    color: #EBDBB2;
}
.navbar .navbar-nav li a:hover {
    color: #A89984;
}
.navbar .navbar-brand:hover {
    color: #A89984;
}
@media(max-width:767px){
    .navbar .navbar-nav .dropdown-menu>li>a,
    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #EBDBB2;
    }
}

/*
 * Primary content
 */
body {
    font-size: 15px;
    line-height: 1.5;
    background: #D5C4A1;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #3c3836;
}
hr {
  border-color: #B57614;
}
a {
  color: #076678;
}
code {
  color: #EBDBB2;
  background-color: #32302F;
}



/*
 * Header styles for body
 */
#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
    color: #282828;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    color: #689D6A;
    padding-right: 0.3em;
}

#main-content h1:before {
    content: "/";
}
#main-content h2:before {
    content: "//";
}
#main-content h3:before {
    content: "///";
}
#main-content h4:before {
    content: "////";
}
#main-content h5:before {
    content: "/////";
}
#main-content h6:before {
    content: "//////";
}

#main-content .opening-notes h1:before,
#main-content .opening-notes h2:before,
#main-content .opening-notes h3:before,
#main-content .opening-notes h4:before,
#main-content .opening-notes h5:before,
#main-content .opening-notes h6:before {
    content: unset;
}

/* Footnote */
#footernote {
    border-top: 4px solid #8F3F71;
    float: right;
    margin-top: 50px;
}

/* Resume Page */
#main-content .resume-container {
    font-size: 16px;
    background: #BDAE93;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#main-content .resume-container .github-link {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#main-content .resume-container h1:before {
    content: unset;
}

#main-content .resume-container .section-title {
    background: #928374;
    border-radius: 16px 2px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

#main-content .resume-container .subsection-header {
    background: #A89984;
    border-radius: 16px 2px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}


/* textbox */
div .textbox {
  font-family: Helvetica, Terminal, monospace;
  color: #111;
  background-color: #C2D1FF;
  font-size: 12px;
  border: solid 2px #B0C0FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

#main-content div.textbox h2:before {
    content: "";
}
#main-content div.textbox h2 {
    text-align: left;
    margin-left: 20px;
}

#main-content div.textbox h4:before {
    content: "";
}
#main-content div.textbox h4 {
    text-align: left;
    margin-left: 20px;
}

#main-content div.textbox code {
    background-color: #40408A;
    color: #FFFF00;
    font-family: bold;
}

/* override bootstrap styles */
.nav-pills>li.active>a {
    background-color: #076678;
}
pre {
  background: none;
  border: none;
  padding: 0 0 0 0;
}
