/*
 * Navbar
 */
header {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
}

/* Change Colors */
.navbar {
    background: #184AD0;
    background: linear-gradient(top, #1B1BB1 0%, #184AD0 40%);
    background: -moz-linear-gradient(top, #1B1BB1 0%, #184AD0 40%);
    background: -webkit-linear-gradient(top, #1B1BB1 0%, #184AD0 40%);
}
.navbar .navbar-brand {
    color: #FFD700;
}
.navbar .navbar-nav .dropdown-header {
    color: #A4A4A4;
}
.navbar .navbar-nav li a {
    color: #FFD700;
}
.navbar .navbar-nav li a:hover {
    color: #E0D000;
}
.navbar .navbar-brand:hover {
    color: #E0D000;
}
.navbar .navbar-nav .dropdown-menu>li>a,
.navbar .navbar-nav .open .dropdown-menu>li>a {
    color: #184AD0;
}
@media(max-width:767px){
    .navbar .navbar-nav .dropdown-menu>li>a,
    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #FFD700;
    }
}

.navbar .navbar-brand img {
    max-height: 55px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    display: inline;
}

/*
 * Primary text content
 */
body {
    font-size: 15px;
    line-height: 1.5;
    background: #FAFAFA;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #606060;
}


/*
 * Header styles for body
 */
#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
    font-family: 'Allerta', 'Helvetica Neue', Helvetica, Arial, serif;
    color: #474747;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    color: #9ddcff;
    padding-right: 0.3em;
}

#main-content h1:before {
    content: "/";
}
#main-content h2:before {
    content: "//";
}
#main-content h3:before {
    content: "///";
}
#main-content h4:before {
    content: "////";
}
#main-content h5:before {
    content: "/////";
}
#main-content h6:before {
    content: "//////";
}

/*
 * Sidebar
 */
#sidebar a.button {
    width: 202px;
    padding-top: 10px;
    padding-left: 80px;
    display: block;
    height: 80px;
    background: transparent url(../images/bgs/download-button.png) 0 0 no-repeat;
}

#sidebar a.button .button-text {
    padding-top: 5px;
    color: #FFFFFF;
    font-size: 21px;
}
#sidebar a.button .button-text small {
    display: block;
    font-size: 11px;
}

#sidebar a.button.github {
    background: transparent url(../images/bgs/github-button.png) 0 0 no-repeat;
}
#sidebar a.button.python {
    background: transparent url(../images/bgs/python-button.png) 0 0 no-repeat;
}
#sidebar a.button.github .button-text,
#sidebar a.button.python .button-text {
    color: #2F7BCB;
}


/* Footnote */
#footernote {
    border-top: 4px solid #2F7BCB;
    float: right;
    margin-top: 50px;
}
