div .textbox {
  font-family: Helvetica, Terminal, monospace;
  color: #111;
  background-color: #C2D1FF;
  font-size: 12px;
  border: solid 2px #B0C0FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

#main-content div.textbox h2:before {
    content: "";
}
#main-content div.textbox h2 {
    text-align: left;
    margin-left: 20px;
}

#main-content div.textbox h4:before {
    content: "";
}
#main-content div.textbox h4 {
    text-align: left;
    margin-left: 20px;
}

#main-content div.textbox code {
    background-color: #40408A;
    color: #FFFF00;
    font-family: bold;
}
