<nav class="navbar navbar-light navbar-expand-md mb-4">
  <a class="navbar-brand" href="/">Stephen Rosen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/past_work">Past Work</a></li>
      <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
      <li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
      <li class="nav-item"><a class="nav-link" href="/codenames-js">CodenamesJS</a></li>
    </ul>
  </div>
</nav>
