<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Stephen Rosen
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><a href="/past_work">Past Work</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/codenames-js">CodenamesJS</a></li>
      </ul>
    </div>
  </div>
</nav>
