<p><a href="http://csil.cs.uchicago.edu/">The CSIL</a>
is the Computer Science department's computer laboratory at the University of Chicago, located in the
<a href="http://www.lib.uchicago.edu/e/crerar/about.html">John Crerar Science Library</a>.
In the Spring of 2010, I began working in the (almost) entirely student-run laboratory, manning the lab's help desk.
Over time, as most CSIL employees do, I took on more system administration responsibilities, helping run virtual machines on hardware using Parallels and, later, VMWare.
In my time there, I took part in major improvements to the CSIL's inventory system, internal web services, and documentation efforts, and aided the lab through two migrations: one in virtualization infrastructure from Parallels to VMWare, and the other in location from it's prior space in the <a href="http://www.lib.uchicago.edu/e/reg/">Joseph Regenstein Library</a>.
</p>

<p>In 2012, having worked on a variety of systems within the laboratory, my focus shifted more towards Dev Ops, specifically automation and monitoring of our user-facing workstations.
The lab is now largely administered through the (unfortunately closed source) toolkit that I developed on top of <a href="http://docs.fabfile.org">Fabric</a>.
Due to design flaws with Fabric, I have advocated the eventual replacement of this system.
</p>

<p>After I graduated from the university in Spring 2013, I retained a fairly close connection with the laboratory.
I have given advice on any issues or projects that I had expertise in, and have since helped reform the lab's interview procedures.
In the recent past, I have not had much time to help the lab.</p>
