@font-face {
    font-family: "Monoid";
    src: url("Monoid-Regular.ttf") format(truetype);
}
@font-face {
    font-family: "Monoid";
    font-weight: bold;
    src: url("Monoid-Bold.ttf") format(truetype);
}
@font-face {
    font-family: "Monoid";
    font-style: italic;
    src: url("Monoid-Italic.ttf") format(truetype);
}
